*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif; /*Fonte do google fonts*/

}
.center { /*Página central - Fundo*/

    max-width: 1100px;
    margin:0 auto;
    padding: 0 2%;
    display: flex; 
}

header { /*Cabeçalho*/
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.logo {
    color: #0f0f0f;
    font: italic bolder 16px "worksans";


}

div#bola{
    height: 50px;
    width: 50px;
    background-color: #ffcdcd;
    border-radius: 50%;
}

.menu a{
    color:rgb(185, 9, 79);
    font-size: 15px;    
    
}
.menu a:hover{
    color:rgb(28, 184, 223);
    text-decoration: underline;
}

.menu { /*Alinhar o Menu*/
        width: 80%;
        text-align: center;
}
.menu a{
    color:#000000;  /*Cor do Menú */
    font-size: size 13px; /*Tamanho da fonte do Menú */
    text-decoration: none;
    margin-right: 18px; /*espaçamento dos menús (Home)   (Sobre)  (Contacto) em 20px */
    transition: 1s;
}
.menu .login-menu {    /* Muda as propriedades do botão "login" */
    background-color: rgb(107, 180, 214);
    display: inline-block;
    padding: 8px 16px; /*Tamanho do botão*/
    color: rgb(0, 0, 0);
    border-radius: 8px; /*Borda do botão*/
    outline: 2px double rgb(75, 147, 180);
}
.menu .login-menu:hover { /*Muda o botão login ao passar o mouse em cima */
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

}
.container {
    background-color: rgb(255, 236, 241);
    border: 1px solid #000000;
    /*Medidas do container (boxlevel fundo)*/
    padding: 44px 15px 15px 190px;
    max-width: 1400px;
    height: 300px;
    margin: 10px 30px 10px 30px;
    /*Sombras*/
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
    /* Bordas arredondadas*/
    border-radius: 8px; 

}
.item {
    background-color:#ffcdcd;
    border: 1px solid rgb(197, 97, 135);
    border-radius: 5px;
    height: 200px;
    width: 180px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    
    
}